# 16 September 2020 (DS) - this is the original new task form (when it was on its own html page
.taskform.html 




#/* task examples stored as OBJECTS (as opposed to ARRAYS)
#const tasks = {
#        "taskId1": {
#            "taskName": "Fix validation code for due date", 
#            "taskDescription": "Due date validation code is currently incomplete, refer to Nicks hint on slack (pod2-code-busters channel)", 
#            "assignee": "Diana", 
#            "dueDate": "11/09/2020", 
#            "status": "To Do"
#        },
#        "taskId2": {
#            "taskName": "Add validation feature to 'Task Status", 
#            "taskDescription": "The element 'task status' needs a validation feature as per Rubric", 
#            "assignee": "Someone", 
#            "dueDate": "18/09/2020", 
#            "status": "In Progress"
#        },
#        "taskId3": {
#            "taskName": "Create Task Manager object", 
#           "taskDescription": "Refer to Task 5 Practice in Canvas; define a tasks array or object to hold the tasks; and a task manager #bject with the fuctions as indicated on the page", 
#           "assignee": "Another One", 
#            "dueDate": "01/10/2020", 
#            "status": "Review"
#        }
#};

#console.log(tasks.taskId1.status, tasks.taskId2.status);

#*/
