html {
    --first-color: rgb(190, 235, 229);
    background-color: var(--first-color);
}

.pagesetup {
    background-color: var(--first-color);
}

body {
    font-family: 'Bebas Neue', cursive;
   
}

#renderedFirstLine {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

#renderedSecondLine {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
}

#renderedDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
#jumbotron {
    background-color: plum;
    size: 3rem;
}
h1 {
    font-size: 4rem;
    font-family: 'Monoton', cursive;
footer {
    text-align: center;
    bottom: 0;
    
}