
html {
    --first-color: rgb(190, 235, 229);
    background-color: var(--first-color);
}

.pagesetup {
    background-color: var(--first-color);
}

body {
    font-family: 'Bebas Neue', cursive;
}

#taskManagerFunctions {
    font-size: 1.2rem;
}

#renderedFirstLine {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
}

#renderedSecondLine {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.2rem;
}

#renderedDescription {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

footer {
    text-align: center;
    bottom: 0;
    padding: 1em 0em 0em 0em;
}

#jumbotron {
    background-color: plum;
}
h1 {
    font-family: 'Monoton', cursive;
    font-size: 3.5rem;
    text-align: center;
}
h3 {
    text-align: center;
}

.thumbnail > ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  
  .thumbnail ul li {
    display: inline-block;
  }
  
  .thumbnail ul li a {
    display: block;
    position: relative;
  }
  
  .thumbnail ul li a:hover span {
    opacity: 1;
    transform: translate(0, -30px);
  }
  
  .thumbnail ul li a > span {
    left: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    transition: all .3s ease;
    top: 0;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  h6 {
      font-size: 1rem;
  }